<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add Apartment</title>
</head>
<body>
<h1>Add an Apartment</h1>
<form method="post" action="/apartments">
  <input type="number" name="rent" placeholder="$ Rent"><br>
  <input type="number" name="numberOfBedrooms" placeholder="Number of Bedrooms"><br>
  <input type="number" name="numberOfBathrooms" placeholder="Number of Bathrooms"><br>
  <input type="number" name="squareFootage" placeholder="Square Feet"><br> 
  <input type="text" name="address" placeholder="Street Address"><br>  
  <input type="text" name="city" placeholder="City ">
  <input type="text" name="state" placeholder="State">
  <input type="text" name="zipCode" placeholder="Zipcode"><br>  
  <button type="submit">Create</button>
</form>
</body>
</html>